.app_dev{
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav_dev{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.nav_item{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav_item li{
margin-right: 20px;
}

.body_div{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-right: 50px;
}
table, td, th {
    border: 1px solid;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    height: 70px;
  }
  td{
    height: 50px;
    text-align: center;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}

 .btn{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
 }
 
 .input{
    padding: 12px 24px;
    outline: none;
 }
  .img{
    width: 40px;
    height: 40px;
    background-color: azure;
    margin: 20px;
  }
  .btn_click_me{
    margin-left: 50px;
    padding: 50px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f2f2f2;
  }

  #dialog-box {
    height: 500px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create_input {
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    box-sizing: border-box;
  }
  

  .tags{
    width: 400px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  .create_btn{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #f2f2f2;
  }
  #dialogue-box {
    position: fixed;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  #dialogue-box h2 {
    margin-top: 0;
  }
  
  #close-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #close-btn:hover {
    background-color: #3e8e41;
  }